#screen {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

#userForm {
    display: flex;
    flex-flow: column nowrap;
    width: 35%;
    border: 1px solid black;
}

.inputDiv {
    margin: 5px;
    text-align: center;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
}

button:hover {
    opacity: 0.9;
}

#gameScreen {
    flex-flow: column nowrap;
    width: 35%;
    justify-content: center;
    align-items: center;
}

#board {
    color: red;
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#statusBar {
    border: 1px solid yellow;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.card {
    height: 100px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color: yellow;
}

#endScreen {
    border: 1px solid red;
    color: red;
}