#screen {
    background-color: royalblue;
}

#board {
    color: red;
    width: 156px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    height: 100px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color: yellow;
}

#endScreen {
    color: red;
}